body {
  font-family: 'Lekton';
  background-color: #EEEFEA;
  margin: 0;
}

.nav:hover {
  color: rgb(255, 77, 106);
}

nav {
  margin: 0;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
}

nav ul li a {
  display: block;
  line-height: 2em;
  padding: 0.5em 2em;
}

nav ul li:first-child {
  background-color: #FEB29B;
  margin-right: auto;
  margin-left: 1em;
  margin-top: 0.5em; 
  object-fit: contain;
  height: 3em;
  width: 5em;
  line-height: 3em;
  text-align: center;
}

/* color to consider: background-color: #E8F3EE; */
/* color: #238189; */